@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Medium.otf);
}

@font-face {
    font-family: Ubuntu-mono-regular;
    src: url(../font/UbuntuMono-R.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

h1, button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    padding: 30px 10%;
}

header button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

header button:hover {
    color: #ddd;
}

h1, .nav_links li, .nav_links a, .nav_links button {
    color: #ccc;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    margin-top: 22px;
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 12px;
}

a {
    text-decoration: none;
}

nav {
}

li {
    list-style-type: none;
}

.nav_links li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    background-color: #ddd;
}

main {
    display: flex;
    justify-content: space-between;
}

main > div:nth-child(1) {
    order: 2;
    padding-right: 6em;
    padding-left: 3em;
}

main > div:nth-child(2) {
    background-color: #bbb;
    width: 35%;
    padding-left: 3em;
    padding-right: 1em;
}

main section {
    margin: 70px 8px;
}

section > ul {
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
}

.sub_section li {
    padding: 8px 0;
    font-family: Ubuntu-mono-regular;
}

main > div:first-child .sub_section li::before {
    content: "> ";
    font-size: 1em;
}

#skills .sub_section li{
    display: flex;
    align-items: center;
}

#skills .sub_section li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2em);
}

.skills_container {
    background-color: #ddd;
    display: inline-block;
    width: 85%;
}


#skills .skills {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    text-align: right;
    color: #ddd;
    font-weight: 600;
}

.img_box {
    width: 70px;
    height: 40px;
}

.img_box img {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#skills .html {
    width: 90%;
    background-color: #EF642A;
}

#skills .css {
    width: 80%;
    background-color: #3B9CD9;
}

#skills .js {
    width: 70%;
    background-color: #cfba1b;
}

#skills .php {
    width: 60%;
    background-color: #777BB3;
}

#skills .mysql {
    width: 65%;
    background-color: #00618A;
    /* color: ; */
}

#skills .python {
    width: 70%;
    background-color: #3873A3;
    /* color: #FFE05D; */
}

/* #html::before {
    display: block;
    content: url(../img/html.svg);
    width: 40px;
    height: 40px;
}

#css::before {
    display: block;
    content: url(../img/css.svg);
    width: 40px;
    height: 40px;
} */



footer {
    background-color: #888;
    /* position: absolute; */
    width: 100%;
    left: 0;
    bottom: 0;
}