@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Medium.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    font-family: Montserrat, sans-serif;
}

h1, button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252a;
    padding: 30px 10%;
}

header button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

header button:hover {
    color: #ddd;
}

h1, .nav_links li, .nav_links a, .nav_links button {
    color: #ccc;
}

a {
    text-decoration: none;
}

nav {
}

li {
}
/* 
.nav_links {
    display: flex;
} */

.nav_links li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
    background-color: #ddd;
}

main {
        display: flex;
    }